<!-- <div class="container mt-5">
    <div class="card p-2">

        <div class="row">
            <div class="col-6">
                <form #productForm="ngForm" (ngSubmit)="addProduct(productForm)">

                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Product Name</mat-label>
                        <input matInput placeholder="Product Name" [(ngModel)]="product.productName" name="productName">
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Product Description</mat-label>
                        <input matInput placeholder="Product Description" [(ngModel)]="product.productDescription"
                            name="productDescription">
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Product Actual Price</mat-label>
                        <input matInput placeholder="Product Actual Price" [(ngModel)]="product.productActualPrice"
                            name="productActualPrice">
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Product Discounted Price</mat-label>
                        <input matInput placeholder="Product Discounted Price"
                            [(ngModel)]="product.productDiscountedPrice" name="productDiscountedPrice">
                    </mat-form-field>
                    <div align="end">
                        <button mat-stroked-button color="primary" style="margin-right: 3px;">Clear </button>
                        <button type="submit" *ngIf="isNewProduct" mat-stroked-button color="primary">Add Product </button>
                        <button type="submit" *ngIf="!isNewProduct" mat-stroked-button color="primary">Update Product </button>
                    </div>
                </form>
            </div>

            <div class="col-6">
                <div>
                    <div class="dropzone"
                        appDrag
                        (files)="fileDropped($event)">
                        <div class="text-wrapper">
                            <div class="centered">
                                Drag and drop your file or
                                <a (click)="selectFile.click()" class="browse-button">browse</a> a file.
                            </div>
                        </div>
                    </div>

                    <input type="file" multiple value="select" style="display:none" #selectFile value="select"
                        (change)="onFileSelected($event)">
                </div>
                <div class="mt-5">
                    <div class="row">
                        <mat-grid-list cols="2" rowHeight="1:1">
                            <mat-grid-tile *ngFor="let file of product.productImages;
                            let i =index;">
                                <div style="position: relative">
                                    <span class="btn-remove-image" (click)="removeImages(i)">x</span>
                                    <img [src]="file.url" width="100px" height="100px">
                                </div>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <div class="container mt-5">
      <div class="card p-2" style="background-color: skyblue">
        <div class="row">
          <div class="col-6">
            <div class="pt-2 px-4 ps-lg-0 pe-xl-5">
              <!-- Title-->
              <div
                class="d-sm-flex flex-wrap justify-content-between align-items-center pb-2"
              >
                <h2 class="h3 py-2 me-2 text-center text-sm-start">
                  Add New Product
                </h2>
                <div class="py-2">
                  <select class="form-select me-2" id="unp-category" [(ngModel)]="selectedOption" (change)="onCategorySelected(selectedOption)">
                    <option>Select category</option>
                    <option *ngFor="let item of categoryArr" [value]="item.id">{{item.categoryName}} 
                    </option>
                  
                  </select>
                
                </div>
                <div class="py-2">
                  <select class="form-select me-2" id="unp-category" [(ngModel)]="selectedBrand" (change)="onBrandSelected(selectedBrand)">
                    <option>Select Brand</option>
                    <option *ngFor="let item of brandArr" [value]="item.id">{{item.brandName}} 
                    </option>
                  
                  </select>
                
                </div>
              </div>
              <form [formGroup]="productForm">
               
                <div class="mb-3 pb-2">
                  <label class="form-label" for="unp-product-name"
                    >Product name</label
                  >
                  <input
                    class="form-control"
                    type="text"
                    id="unp-product-name"
                  formControlName="productName"
                    name="productName"
                  />
                  <div *ngIf="productForm.controls['productName'].dirty && productForm.hasError('required','productName')" class="text-danger">
                    *Please fill in your product name.
                  </div>
                </div>
    
                <div class="mb-3 py-2">
                  <label class="form-label" for="unp-product-description"
                    >Product description</label
                  >
                  <textarea
                  formControlName="productDescription"
                    name="productDescription"
                    class="form-control"
                    rows="6"
                    id="unp-product-description"
                  ></textarea>
                  <div *ngIf="productForm.controls['productDescription'].dirty && productForm.hasError('required','productDescription')" class="text-danger">
                    *Please fill in your product description.
                  </div>
                  <div class="bg-secondary p-3 fs-ms rounded-bottom">
                    <span class="d-inline-block fw-medium me-2 my-1"
                      >Markdown supported:</span
                    ><em class="d-inline-block border-end pe-2 me-2 my-1"
                      >*Italic*</em
                    ><strong class="d-inline-block border-end pe-2 me-2 my-1"
                      >**Bold**</strong
                    ><span class="d-inline-block border-end pe-2 me-2 my-1"
                      >- List item</span
                    ><span class="d-inline-block border-end pe-2 me-2 my-1"
                      >##Heading##</span
                    ><span class="d-inline-block">--- Horizontal rule</span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6 mb-3">
                    <label class="form-label" for="unp-standard-price"
                      >Product Actual Price</label
                    >
                    <div class="input-group">
                      <span class="input-group-text"
                        ><i class="ci-dollar"></i
                      ></span>
                      <input
                      formControlName="productActualPrice"
                        name="productActualPrice"
                        class="form-control"
                        type="text"
                        id="unp-standard-price"
                      />
                    </div>
                    <div *ngIf="productForm.controls['productActualPrice'].dirty && productForm.hasError('required','productActualPrice')" class="text-danger">
                      *Please fill in your product actual price.
                    </div>
                    <div class="form-text">
                      Average marketplace price for this category is $15.
                    </div>
                  </div>
                  <div class="col-sm-6 mb-3">
                    <label class="form-label" for="unp-extended-price"
                      >Product Discounted Price</label
                    >
                    <div class="input-group">
                      <span class="input-group-text"
                        ><i class="ci-dollar"></i
                      ></span>
                      <input
                        formControlName="productDiscountedPrice"
                        name="productDiscountedPrice"
                        class="form-control"
                        type="text"
                        id="unp-extended-price"
                      />
                    </div>
                    <div *ngIf="productForm.controls['productDiscountedPrice'].dirty && productForm.hasError('required','productDiscountedPrice')" class="text-danger">
                      *Please fill in your product actual price.
                    </div>
                    <div class="form-text">
                      Typically 10x of the Standard license price.
                    </div>
                    
                  </div>
                </div>
    
                <button class="btn btn-primary d-block w-100" type="submit"
                (click)="addProduct()">
                  <i class="ci-cloud-upload fs-lg me-2"></i>Upload Product
                </button>
              </form>
            </div>
          </div>
          <div class="col-6 mb-3 pt-">
            <div>
              <div class="dropzone" appDrag (files)="fileDropped($event)">
                <div class="text-wrapper">
                  <div class="centered">
                    Drag and drop your file or
                    <a (click)="selectFile.click()" class="browse-button">browse</a>
                    a file.
                  </div>
                </div>
              </div>
    
              <input
                type="file"
                multiple
                value="select"
                style="display: none"
                #selectFile
                value="select"
                (change)="onFileSelected($event)"
              />
            </div>
            <div class="mt-5">
              <div class="row">
                <mat-grid-list cols="2" rowHeight="1:1">
                  <mat-grid-tile
                    *ngFor="let file of product.productImages; let i = index"
                  >
                    <div style="position: relative">
                      <span class="btn-remove-image" (click)="removeImages(i)"
                        >x</span
                      >
                      <img [src]="file.url" width="100px" height="100px" />
                    </div>
                  </mat-grid-tile>
                </mat-grid-list>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>