<div class="container mt-5">
    <div class="card">
      <div class="row p-3">
        <div class="col-6">
          <form
            #orderForm="ngForm"
            (ngSubmit)="createTransectionAndPlaceOrder(orderForm)"
          >
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Full Name</mat-label>
              <input
                matInput
                placeholder="Full Name"
                [(ngModel)]="orderDetails.fullName"
                name="fullName"
              />
            </mat-form-field>
  
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Full Address</mat-label>
              <input
                matInput
                placeholder="Full Address"
                [(ngModel)]="orderDetails.fullAddress"
                name="fullAddress"
              />
            </mat-form-field>
  
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Contact Number</mat-label>
              <input
                matInput
                placeholder="Contact Number"
                [(ngModel)]="orderDetails.contactNumber"
                name="contactNumber"
              />
            </mat-form-field>
  
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Alternate Contact Number</mat-label>
              <input
                matInput
                placeholder="Alternate Contact Number"
                [(ngModel)]="orderDetails.alternateContactNumber"
                name="alternateContactNumber"
              />
            </mat-form-field>
  
           
            <div class="w-100 mt-3 colorful-card-element" id="card-element">
                <img
                  src="/assets/img/cards-alt.png"
                  alt="Visa Logo"
                  class="credit-card-logo"
                />
              
              </div>
              <div id="card-errors" class="text-danger mt-2 colorful-text"></div>
              <div align="right">
                <button
                  class="btn btn-primary d-block w-100 mt-3 colorful-button"
                  type="submit"
                  (click)="placeOrder(orderForm)"
                >
                  Place Order
                </button>
              </div>
          </form>
        </div>
        <div class="col-6">
          <table class="table">
            <thead class="thead">
              <tr>
                <th>Name</th>
                <th>Amount</th>
                <th>Quantity</th>
                <th>Total</th>
              </tr>
            </thead>
            <tbody class="tbody">
              <tr *ngFor="let p of productDetails">
                <td>{{ p.productName }}</td>
                <td>${{ p.productDiscountedPrice }}</td>
                <td>
                  <select
                    #quantity
                    class="form-select"
                    [ngModel]="getQoantityForProduct(p.productId)"
                    (change)="onQuantityChanged(quantity.value, p.productId)"
                  >
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                  </select>
                </td>
                <td>
                  {{ getCalculatedTotal(p.productId, p.productDiscountedPrice) }}
                </td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td>Tax</td>
                <td>{{ getCalculatedTax() }}</td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td>Total</td>
                <td>{{ getCalculatedGrandTotal() }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  