<!-- <div class="container mt-">
    <div class="col-6">
    <div class="row" *ngFor="let product of product">
        <div class="col-6">
            <div class="card image-container p-3">
                <img [src]="product.productImages[selectedProductIndex].url" class="product-zoom-image" style="width:100px;"  >
            </div>
               
        </div>
        <div class="col-6">
            <div class="product-information">
                <div class="mt-3">
                    <h2>{{product.productName}}</h2>
                </div>
                <div class="mt-3">
                    Description: <br>
                    {{product.productDescription}}
                </div>
                <div class="mt-3">
                    <b>${{product.productDiscountedPrice}}</b>
                    &nbsp; &nbsp;
                    <b style="text-decoration: line-through; color: tomato;">${{product.productActualPrice}}</b>
                </div>
                <div class="mt-5 text-center">
                    <button mat-raised-button color="warn" style="width:200px;" (click)="buyProduct(product.productId)">Buy Now</button>
                   
                    <button mat-raised-button color="primary" style="width:200px;" routerLink="/" (click)="addToCart(product.productId)">Add to cart</button>
                </div>
            </div>

        </div>
    </div>
</div>
</div> -->

<div class="container mt-lg-6">
  <div class="row">
    <!-- Sidebar-->

    <!-- Content  -->
    <section class="col-lg-8">
      <!-- Toolbar-->
      <div
        class="d-none d-lg-flex justify-content-center align-items-center pt-lg-3 pb-4 pb-lg-5 mb-lg-3"
        style="background-color: chocolate; text-align: center"
      >
        <h6 class="fs-base text-light mb-8 align-items-center">
          {{ productCount }} Items you added to wishlist:
        </h6>
      </div>

      <!-- Wishlist-->
      <!-- Item-->
      <div
        class="d-sm-flex justify-content-between mt-lg-4 mb-4 pb-3 pb-sm-2 border-bottom"
        *ngFor="let item of wishList"
      >
        <div
          class="d-block d-sm-flex align-items-start text-center text-sm-start"
        >
          <a
            class="d-block flex-shrink-0 mx-auto me-sm-4"
            href="/productViewDetails;productId={{ item.product.productId }}"
            style="width: 10rem"
            ><img [src]="item.product.productImages[0].url" alt="Product"
          /></a>
          <div class="pt-2">
            <h3 class="product-title fs-base mb-2">
              <a
                href="/productViewDetails;productId={{
                  item.product.productId
                }}"
                >{{ item.product.productName }}</a
              >
            </h3>
            <div class="fs-sm">
              <span class="text-muted me-2">Brand:</span>Tommy Hilfiger
            </div>
            <div class="fs-sm">
              <span class="text-muted me-2">Color:</span>Khaki
            </div>
            <div class="fs-lg text-accent pt-2">
              ${{ item.product.productDiscountedPrice }}.<small>00</small>
            </div>
          </div>
        </div>
        <div class="pt-2 ps-sm-3 mx-auto mx-sm-0 text-center">
          <button
            class="btn btn-outline-danger btn-sm"
            type="button"
            (click)="deleteWishListItem(item.id)"
          >
            <i class="ci-trash me-2"></i>Remove
          </button>
          <br><br><br><br>
          <span style="margin-top: 10px;"></span>
          <a type="button" (click)="addToCart(item.product.productId)">
            <i class="h2 text-body ci-cart"></i> 
          </a>
          <div class="border-top border-bottom mt-1 py-1 fs-sm text-muted"></div>
        </div>
        
        
      </div>
    </section>
  </div>
</div>
